<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,700italic' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="#home">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#press">PRESS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<div class="slide1" id="home">
	<div class="container" >
	  <div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1 class="bandname"><b><br><br>THE<br>NATIONAL<br> EXPUNGEMENT<br> PROJECT<br></b></h1>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div><br>
	<div class="subheading" style="text-align: center; color: #30353b;"><b><br>
			CLICK, CLICK, CLEAN SLATE</b>
	</div>	
	<h3 id="about" class="titletext" style="color: #d14127; font-size: 33px; text-align: center;"><b>Innovativing solutions to increase access to expungement.</b></h3>
</div>
	
	<div class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<!-- <div><h3 class="titletext" style="color: #30353b; border-bottom: 2px solid #000; padding: 0 0 3px 0;">WE NEED NEW TOOLS</h3>
	  		<br>
			</div> 
		</div>
	</div> -->

<div class="container-fluid" style="background-color: #eee8db;">
  <div class="row" style="padding: 100px 0px 100px 0px;">
		
		<div class="col-md-4" style="background: #eee8db; ">
			<div class="paneltext" style="font-size: 35px;">
				<br><br>
				<center><i class="fa fa-exclamation-triangle" style="font-size: 80px; color: #e17132; line-height: 120px"></i><br>
				<b>THE PROBLEM</b></center>
			</div>
		</div>

		<div class="col-md-8" style="background: #eee8db; padding: 45px 15px;">
			<div class="paneltext" style="color: #30353b">
				The FBI’s master criminal database includes 77.7 million names. That’s 24% of the U.S. population. About 10 to 12 thousand names are added every day. This covers those that were arrested but never charged, charged but never prosecuted, or prosecuted but never convicted.<br><br>

				Guilty or not, criminal records hold people back form finding jobs, housing, and access to services. <br><br>

				Criminal Justice reform has been slow to move online. Google trends show that people are looking for help online, and yet pro bono legal providers are not there to meet them. There has to be a better way.  
			</div>
		</div>
	</div>
</div>		




<div class="container-fluid">
	<div class="row" style="padding: 70px 0px 70px 0px;">
		<div class="col-md-4">
			<center><i class="fa fa-lightbulb-o" style="font-size: 70px; color: #f6cb1c;"></i></center><br>
			<div class="paneltext">
				<center style="font-size: 28px; font-weight: 900;">INNOVATE</center><br>

				We create tools to move criminal justice reform into the 21st century. By using web apps to allow users to navigate expungement laws, access proper filing documents, and connect with volunteer attorneys, we can increase expungements and change lives.
			</div>
		</div>
		<div class="col-md-4">
			<center><i class="fa fa-line-chart" style="font-size: 70px; color: #42a530;"></i></center><br>
			<div class="paneltext">
				<center style="font-size: 28px; font-weight: 900;">DATA COLLECTION</center><br>
				Criminal justice systems cannot be left behind during this technological evolution. Beyond improving access and direct legal services, we will provide legal data to highlight trends and inform policy-makers. We pair new and existing technologies with an understanding of the law to collect and make accessible data to improve policy decisions.
			</div>
		</div>
		<div class="col-md-4">
			<center><i class="fa fa-university" style="font-size: 70px; color: #df4e33;"></i></center><br>
			<div class="paneltext">
				<center style="font-size: 28px; font-weight: 900;">DISCUSSION</center><br>
				Discussion of criminal justice reform shouldn’t be limited to direct service providers or policy researchers. Our projects bridge this gap by providing current data and insight into an underreported legal area. 
			</div>
		</div>
	</div>
</div>

							 
<br>


<div id="press" class="container">
	  <div class="row">
			<div class="col-md-12">

	  		<div><center><h3 class="titletext" style="color: #30353b; padding: 0 0 3px 0;">PRESS</h3></center>
	  		<br>
			</div> 
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row" style="padding: 70px 0px 70px 0px; text-align: center;">
		
		<div class="col-md-3">
			<%= link_to image_tag("abajournal.png", :class => "aba"), 'http://www.abajournal.com/magazine/article/wipe_out_new_app_helps_people_expunge_their_records', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("techpres.png", :class => "techpres"), 'http://techpresident.com/news/25357/behind-scenes-look-expungeio-your-automated-expungement-paralegal', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("baltsun.png", :class => "baltsun"), 'http://articles.baltimoresun.com/2014-07-15/news/bal-activists-launch-expungment-aid-app-20140715_1_expungement-app-baltimore-city-council', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("tech.png", :class => "tech"), 'http://technical.ly/baltimore/2014/07/25/expungemaryland-expunge-erase-criminal-records-baltimore/', target: '_blank'%>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row" style="text-align: center;">
		
		<div class="col-md-3">
			<%= link_to image_tag("wypr.png", :class => "wypr"), 'http://warnockfoundation.org/radio/baltimore-future-on-wypr-jason-tashea/', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("abamag.png", :class => "abamag"), 'http://www.abajournal.com/news/article/legal_hackers_explain_how_coding_can_enhance_the_practice_of_law/', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("njjn.jpg", :class => "njjn"), 'http://www.njjn.org/article/new-web-based-tool-determines-eligibility-for-record-expungement-in-il-md-and-la?utm_source=NJJN+News%3A+Web+Tools+for+Clearing+Juvenile+Records+Launched+by+IL%2C+MD%2C+LA&utm_campaign=Oct-6-2014-Newsletter&utm_medium=email', target: '_blank'%>
		</div>

		<div class="col-md-3">
			<%= link_to image_tag("hackbalt.png", :class => "hackbalt"), 'http://hackbaltimore.org/can-civic-tech-expunge-your-criminal-record/', target: '_blank'%>
		</div>
	</div>
</div>

<div id="contact" class="container">
	  <div class="row">
			<div class="col-md-12">
	  			<h3 class="titletext" style="color: #30353b; padding: 130px 0px 3px 0;">
	  				<center>CONTACT</center><br>
	  			</h3>
	  	</div>
	  <div class="row">
	  	<div class="col-md-6">
	  		<center>
	  			<a href="mailto:contact@expungeproject.org">
	  			<i class="fa fa-envelope" class="FBglyphLinks" style="font-size: 150px;">
	  			</i>
	  	</div>
	  	<div class="col-md-6">
	  		<a href="https://twitter.com/expungeproject" class="TWglyphLinks" target="_blank" ><center>
	  			<i class="fa fa-twitter" style="font-size: 150px;">
	  			</i>
	  		</a>
	  	</div>
	  </div>
	</div>
</div>


	  		<br><br><br><br><br><br><br><br><br><br><br><br>
			</div> 
		</div>
	</div>
</div>




