<link href='//fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,700italic' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->

  <div class="container">
  	<a class="navbar-brand navbar-right" href="https://twitter.com/expungeproject" target="_blank"><i class="fa fa-twitter" ></i></a>
  	<a class="navbar-brand navbar-right" href="mailto:contact@expungeproject.org"><i class="fa fa-envelope" ></i></a>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      	<li><a href="#home">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#press">PRESS</a></li>
        <li><a href="#contact">WHO WE ARE</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse-->
  </div>
</nav>

<!-- <ul class="nav navbar-nav">
        <li>
        	<a href="mailto:contact@expungeproject.org" >
	  			<i class="fa fa-envelope" ></i></a>
	  		</li>
	  		<li>
	  			<a href="https://twitter.com/expungeproject" target="_blank"  ><center>
	  				<i class="fa fa-twitter"></i>
	  			</a>
	  		</li>
      </ul>
 -->




<div class="slide1" id="home">
	<div class="container">
	  
	  <div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h1 class="nep">
					<br><br><b>THE<br>NATIONAL<br>EXPUNGEMENT<br>PROJECT</b><br>
				</h1><br>
			</div>
			<div class="col-md-4"></div>
		</div>
		
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6">
				<h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold !important;">CLICK, CLICK, CLEAN SLATE</h1>
			</div>
			<div class="col-md-2"></div>
		</div>


	</div>
</div>
	




<div class="container">
  <div class="row">
		<div class="col-md-12">
			<br><center><h1 id="about" style="color: #42a530; font-size: 34px; text-align: center;"><b><br>Innovating solutions to increase access to expungement.</b></h1></center>
	  		
			<div class="container-fluid" style="background-color: #eee8db;">
			  <div class="row" style="padding: 45px 15px 145px 15px;">
					<div class="col-md-4">
						<div class="paneltext" style="font-size: 35px;"><br><br>
							<center>
								<i class="fa fa-exclamation-triangle" style="font-size: 80px; color: #d14127; line-height: 120px"></i><br>
								<b>THE PROBLEM</b>
							</center>
						</div>
					</div>

					<div class="col-md-8" >
						<div class="paneltext" style="color: #30353b">
							The FBI’s master criminal database includes 77.7 million names--24% of the U.S. population. About 10 to 12 thousand names are added every day. This covers those that were arrested but never charged, charged but never prosecuted, or prosecuted but never convicted.<br><br>
							Guilty or not, criminal records hold people back form finding jobs, housing, and access to services. <br><br>
							Criminal Justice reform has been slow to move online. <%= link_to ("Google Trends"), 'http://www.google.com/trends/explore#q=expungement&geo=US', target: '_blank'%> shows that people are already looking for help online, and yet pro bono legal providers are not there to meet them. There has to be a better way.  
						</div>
					</div>

				</div>
			</div>	

		</div>	
	</div>
</div>


<div class="container-fluid">
  <div class="row" style="background-color: #dedecd;">
		<div class="col-md-12">
	  		
			<div class="container" style="background-color: #dedecd;">
			  <div class="row" style="padding: 90px 0px 90px 0px; background-color: #dedecd">
					
					<div class="col-md-6">
						<div class="paneltext" style="color: #30353b; background-color: #dedecd">
							In search of a better way, we created <%= link_to ("ExpungeMaryland.org"), 'http://www.expungemaryland.org', target: '_blank'%>, a web app that connects people who need an expungement with volunteer lawyers. <br><br>
							Since creating ExpungeMaryland, bar associations, legal service providers, and even a state supreme court have asked us about using tech to improve access to expungement in their states. Our experience building ExpungeMaryland and other projects makes us adept and scaling this project nationally. <br><br>

							Our vision is to bring expungement apps to 25 states by partnering with local stakeholders. This will capture 80 percent of the US population, and 75 percent of its annual arrests. We will also make the code available to any other states interested in replicating the project.<br><br>If you are inspired to innovate legal service in your state, <a href="mailto:contact@expungeproject.org">we want to hear from you!</a>
						</div>
					</div>
					<div class="col-md-6" >
						<center><%= image_tag("usa.png", :class => "usaStyle") %><br></center>
						<div class="paneltext" style="font-size: 35px; background-color: #dedecd; line-height: 15px;"><br><br>
							<center>
								<b>THE PLAN</b>
								<br>
							</center>
							</div>
						</div>
					</div>

				</div>
			</div>	

		</div>	
	</div>
</div>


<div class="container-fluid">
  <div class="row" style="background-color: #eee8db;">
		<div class="col-md-12">

			<div class="container">
				<div class="row" style="padding: 115px 15px 115px 15px;">

					<div class="col-md-4">
						<center><i class="fa fa-lightbulb-o" style="font-size: 70px; color: #f6cb1c;"></i></center><br>
						<div class="paneltext" style="background: #eee8db">
							<center style="font-size: 28px; font-weight: 900;">INNOVATE</center><br>

							We create tools to move criminal justice reform into the 21st century. By using web apps to allow users to navigate expungement laws, access proper filing documents, and connect with volunteer attorneys, we can increase expungements and change lives.
						</div>
					</div>

					<div class="col-md-4">
						<center><i class="fa fa-line-chart" style="font-size: 70px; color: #42a530;"></i></center><br>
						<div class="paneltext" style="background: #eee8db">
							<center style="font-size: 28px; font-weight: 900;">COLLECT DATA</center><br>
							By improving access to Expungement online, we can collect unique and real-time data. This open data will help us understand demographics, how people access legal services online, and how expungement statutes are affecting outcomes. This data will ultimately inform policymakers and advocates. 
						</div>
					</div>

					<div class="col-md-4">
						<center><i class="fa fa-hand-o-right" style="font-size: 70px; color: #8ec1da;"></i></center><br>
						<div class="paneltext" style="background: #eee8db">
							<center style="font-size: 28px; font-weight: 900;">ADVANCE</center><br>
							 Technology is becomming an integral component to criminal justice reform--it bridges the silos of direct service and policy research. A project of this scale will demonstrate the value of technology in criminal justice reform and change the national discussion. It's needed. It's expected. It works.
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
							 
<br>

<div id="press" class="container-fluid">
	  <div class="row" style="background-color: #dedecd;">
			<div class="col-md-12">

	  		<div><center><h3 class="titletext" style="color: #30353b; padding: 90px 0 0px 0;">PRESS</h3></center>
	  		<br>
			</div> 
		</div>
	</div>
</div>

<div class="container-fluid" style="background-color: #dedecd;">
	<div class="row">
		<div class="col-md-12">

				<div class="container">
					<div class="row" style="padding: 40px 0px 50px 0px; text-align: center;">
						
						<div class="col-md-3">
							<%= link_to image_tag("abajournal.png", :class => "aba"), 'http://www.abajournal.com/magazine/article/wipe_out_new_app_helps_people_expunge_their_records', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("techpres.png", :class => "techpres"), 'http://techpresident.com/news/25357/behind-scenes-look-expungeio-your-automated-expungement-paralegal', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("baltsun.png", :class => "baltsun"), 'http://articles.baltimoresun.com/2014-07-15/news/bal-activists-launch-expungment-aid-app-20140715_1_expungement-app-baltimore-city-council', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("tech.png", :class => "tech"), 'http://technical.ly/baltimore/2014/07/25/expungemaryland-expunge-erase-criminal-records-baltimore/', target: '_blank'%>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row" style="text-align: center; padding: 10px 0px 150px 0px; background-color: #dedecd;">
						
						<div class="col-md-3">
							<%= link_to image_tag("wypr.png", :class => "wypr"), 'http://warnockfoundation.org/radio/baltimore-future-on-wypr-jason-tashea/', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("abamag.png", :class => "abamag"), 'http://www.abajournal.com/news/article/legal_hackers_explain_how_coding_can_enhance_the_practice_of_law/', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("njjn.jpg", :class => "njjn"), 'http://www.njjn.org/article/new-web-based-tool-determines-eligibility-for-record-expungement-in-il-md-and-la?utm_source=NJJN+News%3A+Web+Tools+for+Clearing+Juvenile+Records+Launched+by+IL%2C+MD%2C+LA&utm_campaign=Oct-6-2014-Newsletter&utm_medium=email', target: '_blank'%>
						</div>

						<div class="col-md-3">
							<%= link_to image_tag("hackbalt.png", :class => "hackbalt"), 'http://hackbaltimore.org/can-civic-tech-expunge-your-criminal-record/', target: '_blank'%>
						</div>
					</div>
				</div>

		</div>
	</div>
</div>


<div id="contact" class="container-fluid">
	  <div class="row" style="background: #eee8db">
			<div class="col-md-12">
	  			<h3 class="titletext" style="color: #30353b; padding: 70px 0px 0px 0;">
	  				<center>WHO WE ARE</center><br>
	  			</h3>
	  	</div>
	  <div class="row" style="padding:0px 0px 250px 0px;">
	  	
	  	<div class="col-md-3"></div>
	  	<div class="col-md-3">
	  		<center>
	  			<%= image_tag("jon.png", :class => "jon")%><br><br>
	  			<h3>Jon Tippens</h3></center>
	  		<div class="paneltext">
	  			Jon is a legal tech ninja. He has a JD from the University of Maryland and can code. His passion is building projects that help people better understand and access the law, like <a href="http://www.expungemaryland.com" target="_blank">this expungement app</a>. In law school, he focused his work on improving access to legal services and understanding how mental health is impacting our criminal justice system. He previously worked at the Maryland Attorney General's office. Beyond doing all the things, he's also a jazz musician. 
	  	</div>
	  	</div>
	  	<div class="col-md-3">
	  		<center><%= image_tag("jason.png", :class => "jon")%><br></center><br>
	  		<center><h3>Jason Tashea</h3></center>
	  		<div class="paneltext">
	  			Jason was your best friend, until he learned about legal tech. Now, it consumes his life as a legal tech and criminal justice consultant at the John Jay College of Criminal Justice in New York. He's trying to modernize reentry with a smartphone app, parole through texting, and expungement online. He has a JD from the University of Oregon, was a Fulbright to Kosovo studying juvenile justice, and has worked on criminal justice in Maryland, Armenia, and at the United Nations. Jason has no known musical talent.
	  		</div>
	  	</div>
	  	<div class="col-md-3"></div>

	  </div>
	</div>
</div>

			</div> 
		</div>
	</div>
</div>




